main {
    h1 {
        background-color: #6b7c7c;
        color: whitesmoke;
        border-radius: 0.375rem 0.375rem 0 0;
        text-align: center;
        margin: 0;
        padding: 10px 0;
    }

    .gotop {
        background-color: rgba(128, 128, 128, 0.5);
        position: fixed;
        text-align: center;
        bottom: 15px;
        right: 15px;
        width: 50px;
        height: 50px;
        border-radius: 15%;
        color: #fff;
        display: none;
        z-index: 999;


    }

}

main.news {
    div.mainbc {
        background-color: #748b8b;
        border-radius: 0.375rem 0.375remx 0 0;


    }

    .carousel-inner {
        img {
            display: block;
            width: 100%;
            height: 30vw;
            object-fit: fill;
        }
    }

    .news {

        .news-img {
            img {
                border-radius: 0.375rem 0.375rem 0 0;
                width: 100%;
            }
        }

        .news-text {
            border-radius: 0 0 0.375rem 0.375rem;
            background-color: #092020;

            a {
                color: whitesmoke;
                text-decoration: none;
                font-size: 2rem;
                padding: 1rem;

            }


        }

        .news-text:hover {
            background-color: #485756;

            a {
                color: #83b0ef;
            }
        }
    }
}

main.product {
    .shopping {
        background-color: rgba(128, 128, 128, 0.5);
        position: fixed;
        text-align: center;
        font-size: 30px;
        bottom: 70px;
        right: 15px;
        width: 50px;
        height: 50px;
        border-radius: 15%;
        color: #fff;
        // display: none;
        z-index: 999;

        .shoppingAmout {
            position: absolute;
            top: -5px;
            right: -8px;
            font-size: 14px;
            background-color: red;
            padding: 3px;
            border-radius: 3px;
            color: whitesmoke;
        }
    }

    .productbc {
        background-color: #748b8b;
        border-radius: 0.375rem 0.375rem 0 0;

        div.product-item {
            margin: 0.5rem;
            background-color: #485756;
            border-radius: 0.375rem;
            box-shadow: 0 10px 10px black;

            img {
                max-width: 100%;
                border-radius: 0.375rem 0.375rem 0 0;
            }

            h5 {
                color: whitesmoke;
                padding: 0.2rem;
                font-size: 2rem;
                font-weight: 600;
            }

            p {
                color: grey;
                padding: 0.2rem;
            }

            .price-quantity {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0.2rem;
                .buttons{
                    display: flex;
                    align-items: center;
                    font-size: 24px;
                    gap: 8px;
                    .bi-dash-lg{
                        color: red;
                    }
                    .bi-plus-lg{
                        color: green;
                    }
                }
            }
        }
    }

}