div.offcanvas-body {
    ul {
        li {
            display: flex;
            align-items: center;
            margin: 0.5rem 0;
            a{
                margin: 0 0 0 0.5rem;
            }
        }
    }
}