header {
    nav {
        padding: 0px;
        div {
            
            a.headertop {
                font-size: 24px;

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }

    }
}